.list{ 
    color: white;
    width: 900px;
    background-color: green;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 20px;
}

.list p{
    padding: 10px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.trash{
    margin: 5px 15px;
    font-size: 15px;
    border: 0;
    width: 80px;
  height: 20px;
  font-size: 17px;
  border-radius: 5px;
  background-color: yellow;
  font-weight: bolder;
  cursor: pointer;



}